# Ignore everything by default:
/*
/*/

# But allow these files and folders:
!/LICENSE
!/README.md
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.github
!/package.json
!/docker-compose.yml
!/src
!/test

# But make sure to ignore these regardless:
*.lnk
*.url
